.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap : 10px;
}

.service-container Button{
    background-color: rgb(58, 56, 56);
    border: rgb(58, 56, 56);
}

@media only screen and (max-width: 688px) {
    .service-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width: 689px) and (max-width: 922px) {
    .service-container{
        grid-template-columns: repeat(2, 1fr);
    }
}