.footer{
    background-color: rgb(199, 245, 240);
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
 .copyright{
    padding-top: 50px;
}


.address p{
    color: gray;
}